/*
font-family: 'Jost', sans-serif;
font-weight: 400, 500, 600, 800
*/

.stories {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0px;
}

.site-top {
  display: flexbox;
  background-color: #7fa4d8;
  max-width: 390px;
}

/* logo */

.logo {
  color: white;
  font-family: 'Jost', sans-serif;
  font-weight: 800;
  font-size: 64px;
  text-align: center;
  line-height: 0em;
  padding-top: 40px;
}

/* tagline */

.tagline {
  color: #5d00ba;
  font-family: 'Jost', sans-serif;
  font-weight: 800;
  font-size: 24px;
  text-align: center;
  padding-bottom: 10px;
}

/* chunk */

.chunk {
  background-color: #7fa4d8;
  padding: 0px;
  max-width: 390px;
}

.feat-image {
  object-fit: cover;
  object-position: top left;
  max-width: inherit;
}

.big-white-text {
  color: white;
  font-family: 'Jost', sans-serif;
  font-weight: 800;
  font-size: 48px;
  text-align: center;
  padding: 13px;
}

.mid-purp-text {
  color: #5d00ba;
  font-family: 'Jost', sans-serif;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  padding: 13px;
}

/* product */

.product {
  background-color: #f9f2ff;
  padding: 0px;
  max-width: 390px;
}

.big-purple-text {
  color: #5d00ba;
  font-family: 'Jost', sans-serif;
  font-weight: 600;
  font-size: 36px;
  text-align: left;
  padding-left: 5px;
  line-height: 0em;
}

.trip-detail-text {
  color: black;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: left;
  padding-left: 5px;
}

/* image with text */

.text-on-image {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;

  font-family: Jost;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  color: black;
}

.text-on-image figcaption {
  padding: 0;
  margin: 0;
}

.text-on-image .top {
  position: absolute;
  top: 0px;
  left: 5px;
}

.destination-img {
  object-fit: cover;
  max-width: 390px;
}

a {
  color: #5d00ba;
}

/* desktop */

@media (min-width: 992px) {
  .stories {
    grid-template-columns: 1fr 1fr;
    gap: 0px;
  }

  .chunk {
    max-width: 756px;
  }

  .product {
    max-width: 756px;
  }

  .feat-image {
    height: 100%;
  }

  .destination-img {
    max-width: 756px;
    object-fit: cover;
    height: 100%;
  }

  .big-white-text {
    font-size: 72px;
  }

  .mid-purp-text {
    font-size: 48px;
  }

  .big-purple-text {
    font-size: 72px;
  }

  .trip-detail-text {
    font-size: 36px;
  }

  .text-on-image {
    font-size: 84px;
    height: 100%;
  }

  .site-top {
    max-width: 2000px;
  }

  .logo {
    text-align: left;
    margin-left: 15px;
    margin-top: 15px;
  }

  .tagline {
    text-align: left;
    padding-left: 95px;
  }

  .product:nth-child(4) {
    background-color: #ffffff;
  }

  .product:nth-child(8) {
    background-color: #ffffff;
  }

  .product:nth-child(12) {
    background-color: #ffffff;
  }

  .product:nth-child(16) {
    background-color: #ffffff;
  }

  .product:nth-child(20) {
    background-color: #ffffff;
  }
}
